<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.60.6" targetFramework="net48" />
  <package id="Dapper.Contrib" version="1.60.1" targetFramework="net48" />
  <package id="EPPlus" version="5.8.3" targetFramework="net48" />
  <package id="HIS2_LOG" version="81000.1.0" targetFramework="net48" />
  <package id="HIS2_Models" version="81000.10.25" targetFramework="net48" />
  <package id="HIS2_PUB" version="81000.9.0" targetFramework="net48" />
  <package id="log4net" version="2.0.12" targetFramework="net48" />
  <package id="Microsoft.IO.RecyclableMemoryStream" version="1.4.1" targetFramework="net48" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net48" />
  <package id="Oracle.ManagedDataAccess" version="12.2.1100" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>